<div class="row">
    
    <div class="book-info col-md-12" *ngFor="let m of meetings">
        <div class="card bg-transparent p-1 m-1">
            <div class="row">
                <div class="book-info col-md-5">
                    <div class="card bg-light p-1 m-1">
                        <img src="/img/{{m.book.bookId}}.jpg" class="img-fluid" [alt]="m.book.title" />
                        <div class="book-name">{{ m.book.title }}</div>
                        <ul class="book-props">
                            <li><strong>Author</strong>: {{m.book.author}}</li>
                            <li><strong>Title</strong>: {{m.book.title}}</li>
                            <li><strong>Genre</strong>: {{m.book.genre}}</li>
                        </ul>
                        <button id="editButton" class="btn btn-success" (click)="editMeeting(m)">Edit</button>
                    </div>
                </div>

                <div class="book-info col-md-7">
                    <ul class="book-props">
                        <li><strong>Address</strong>: {{m.address}}</li>
                        <li><strong>Time</strong>: {{m.time}}</li>
                        <div *ngFor="let attendee of m.attendees">
                            <div *ngIf="attendee.isHost"><strong>Host</strong>: {{ attendee.member.userName }}</div>
                        </div>
                        <strong>Attendees:</strong>
                        <ul *ngFor="let attendee of m.attendees">
                            <li>{{attendee.member.userName}}</li>
                        </ul>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>