/*body {
     font-family: 'Segoe UI', 'Tahoma'
}
input, textarea {
    font-size: 18px; 
    width: 300px;
}
input[type=submit] {
    width: auto; 
}
label {
    font-size: 16px;
}

#Indian {
    background-color: azure;
}

    #Indian button {
        background-color: aqua;
        color: black;
        border-radius: 2px;
    }

ul.book-props {
    font-size: small;
    padding-left: 0;
}

    ul.book-props li {
        list-style-type: none;
    }

.Book {
    border: 1px solid gray;
    display: inline-block;
    padding: 8px 2px;
    margin: 2px;
    max-width: 500px;
    background-color: azure;
    border-radius: 5px;
    text-align: center;
}

.Book img {
    float: left;
    margin: 4px;
    border: 1px solid black;
}

#loginToggle {
    cursor: pointer;
}

.popupForm {
    padding: 5px;
    border: 2px black inset;
    display: inline-block;
}

    .popupForm label {
        width: 150px;
        display: inline-block;
    }

    .popupForm input[type=checkbox], .popupForm input[type=submit] {
        width: auto;
    }

menu li {
    display: inline;
}

    menu li::after {
        content: " |"
    }

    menu li:last-of-type::after {
        content: ""
    } */

body {
    height: 100%
}