.book-info img {
    float: left;
    margin: 2px;
    border: 1px solid black;
}

body  {
    background-image: url("wall.jpeg");
}

.card, img {
    background: #f6f5e9;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.wrapper {
    text-align: center;
}

.ctrbtn {
    position: center;
    top: 50%;
}
