@section Scripts {
    <script src="~/ts/clubmember.js"></script>
    <script src="~/ts/main.js"></script>
}
<div class="row align-items-center">
    <div class="col">
        <div class="col-md-4 offset-md-4">

            <h3>A small, but ambitious team helbent on changing the way we read.</h3>
            <p>More to follow</p>

        </div>
    </div>
</div>
