.btn {
    text-align: center;
    max-width: 540px;
    height: auto;
    display: block;
    padding: 10px 0;
    margin: 0 auto;
    border: none;

    width:100%; /* you forgot this */
}